.fundview-1
{
    text-align: center;
    margin-top: 15px;
   
  
}

.fundview
{
    text-align: center;
    margin-top: 15px;
    padding-bottom: 40px;
    
    border: 2px solid #7b7c7d;
    height: auto;
}


.heading-main
{
    font-weight: 700;
      font-size: 20px;
      line-height: 22px;
      text-transform: uppercase;
      color: #4a4a4a;
   
}
.row-1
{
    padding: 20px;
}
.oaf
{
    box-sizing: border-box;

/* Auto layout */
 
margin: 10px;

width: 190px;
height: 41px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;

/* identical to box height */


color: #000000;
/* White */

background: #FFFFFF;
/* Gray/300 */

border: 2px solid #7b7c7d;
/* Shadow/xs */

box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;
}