.copytrade
{
    padding: 10px;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #4a4a4a;
}
.options-1
{
font-size: 14px;
}
.copy-body
{
    padding: 15px;
    margin: 16px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-flow: wrap;
    border: 1px solid #dddfe0;
}
.c-heading
{
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #4a4a4a;
}
.copy-body-1
{
    display: flex;
    justify-content:space-around;
    flex-direction: row; 
    
}
.copy-body-2
{
    
    border-radius: 8px;
    flex-direction: row;
    display: flex;
flex-flow: wrap;
    background-color: white;
    border: 1px solid #dddfe0;
    margin: 18px;
}
.sub-copy-body
{
    padding: 20px;
    margin: 20px;
    width: 100%;
    height: auto;
    
    border-radius: 8px;
    background-color: white;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    flex-flow: wrap;
    border: 1px solid #dddfe0;
}
